SOLUTION/Payments/Payments_v2/intrabankinternationalxfer_3/src/main/mule/intrabankinternationalxfer.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="intrabankinternationalxfer-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="intrabankinternationalxfer-config" raml="intrabankinternationalxfer.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" disableValidations="true"/>
    <http:request-config name="HTTP_Forex_Request" doc:name="HTTP Request configuration" doc:id="087ebade-3a6d-4b65-8ea3-9907dcf82ada">
		<http:request-connection host="${forex.api.host}" port="${forex.api.port}" />
	</http:request-config>
	<http:request-config name="HTTP_Account_Request" doc:name="HTTP Request configuration" doc:id="13968fdf-a227-47ae-bfd8-4d5ea032902b" basePath="${account.api.basepath}" >
		<http:request-connection host="${account.api.host}" port="${account.api.port}" />
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="c3e2d34d-1171-4a95-94c8-8bbcae8a186f" file="mule-custom-app-intrbint.properties" />
	<flow name="intrabankinternationalxfer-main">
        <http:listener config-ref="intrabankinternationalxfer-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="intrabankinternationalxfer-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="intrabankinternationalxfer-console">
        <http:listener config-ref="intrabankinternationalxfer-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="intrabankinternationalxfer-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="intrabankinternationalxferFlow" doc:id="3dc4c626-67cf-4080-b49d-834ecb533991" >
		<set-variable value="#[payload.InstructedAmount.Currency]" doc:name="Transfer Currency" doc:id="95a88004-c7ae-4a91-b5a0-db2d373f3d91" variableName="transfer_currency" />
	</flow>
	<flow name="debitFlow" doc:id="e4330af9-3359-4e5a-bb02-9644a9a31c28">
		<logger level="INFO" doc:name="Logger" doc:id="23981978-ba39-4830-9e02-88d2780337cf" message="********************* Debit Flow ------AccountId #[vars.originalPayload.DebtorAcount.Identification.AccountId]--------- Amount #[vars.originalPayload.InstructedAmmount.Ammount]" />
		<http:request method="GET" doc:name="Forex_Conversion" doc:id="0569ae42-2a59-455a-b9fa-c741c1e0ef33" config-ref="HTTP_Forex_Request" path="/api/rate">
			<http:query-params><![CDATA[#[output application/java
---
{
	"from" : vars.originalPayload.DebtorAcount.CurrencyCode ,
	"to" : vars.originalPayload.InstructedAmmount.Currency,
	"amount" : vars.originalPayload.InstructedAmmount.Ammount
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="3e653063-83e2-4391-b9fe-81ea5686c329" message="---&gt;Debit Acount: Forex Rate data: #[payload]"/>
		<http:request method="PUT" doc:name="Account Debit Call" doc:id="c6a7806a-1ff6-45b1-9174-bf8ca7b4f872" path="/Account/{AccountId}" config-ref="HTTP_Account_Request">
			<http:uri-params><![CDATA[#[output applicaton/java
---
{
	"AccountId" : vars.originalPayload.DebtorAcount.Identification.AccountId
}]]]></http:uri-params>
			<http:query-params><![CDATA[#[output applicaton/java
---
{
	"action" : "debit",
	"amount" : payload.conversion_amount
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="cd99a623-14af-4ee2-8675-048a7b86f970" message="***************Using the Account Module --------- Response Payload #[payload]" />
		<set-variable value="#[payload]" doc:name="Set Debitor Flow Response" doc:id="d6efb435-0474-4490-a190-dc5e7771f0a4" variableName="debitRes" />
	</flow>
	<flow name="creditFlow" doc:id="28f441e1-9c5c-4a9c-904b-eaca85c313d1">
		<logger level="INFO" doc:name="Logger" doc:id="9f711e36-b26a-45fe-9c80-3c51d18c2703" message="********************* Credit Flow-------AccountId #[vars.originalPayload.CreditorAcount.Identification.AccountId]-------------Amount #[vars.originalPayload.InstructedAmmount.Ammount]" />
		<http:request method="GET" doc:name="Forex_Conversion" doc:id="a6f58920-72f5-4b68-862e-2af72197449a" config-ref="HTTP_Forex_Request" path="/api/rate">
			<http:query-params><![CDATA[#[output application/java
---
{
	"from" : vars.originalPayload.InstructedAmmount.Currency,
	"to" : vars.originalPayload.CreditorAcount.CurrencyCode,
	"amount" : vars.originalPayload.InstructedAmmount.Ammount
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="090a20e1-a6da-41a9-96f4-6469f5e21716" message="---&gt;Credit Acount: Forex Rate data: #[payload]"/>
		<http:request method="PUT" doc:name="Account Credit Call" doc:id="57c19429-31ad-4b9d-a795-87a8b728715d" config-ref="HTTP_Account_Request" path="/Account/{AccountId}">
			<http:uri-params><![CDATA[#[output applicaton/java
---
{
	"AccountId" : vars.originalPayload.CreditorAcount.Identification.AccountId
}]]]></http:uri-params>
			<http:query-params><![CDATA[#[output applicaton/java
---
{
	"action" : "credit",
	"amount" : payload.conversion_amount
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="bb399e1c-f7c1-4fbd-9127-924bcbf6a4f1" message="*************** Using the Account Module ------------------Response Payload #[payload]" />
		<set-variable value="#[payload]" doc:name="Set Creditor Flow Response" doc:id="0200b72c-d9b3-49cf-812f-ff3d238940e4" variableName="creditRes" />
	</flow>
	<flow name="post:\IntraBankInternationalXfer:application\json:intrabankinternationalxfer-config">
        <logger level="INFO" doc:name="Logger" doc:id="0e353553-3b06-48b1-9222-9c6aa3c9eb93" message="******* Starting IntrabankInternationalxfer" />
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="0a9ca62e-fd3b-47d3-85af-7de1713fe9ef" variableName="originalPayload" />
		<flow-ref doc:name="Debit Flow" doc:id="91d57186-5cce-42ab-b94a-b03355620e15" name="debitFlow" />
		<flow-ref doc:name="Credit Flow" doc:id="aeaeaa3e-550b-4aeb-872b-7b1e0950e7d9" name="creditFlow" />
		<ee:transform doc:name="Transform Message" doc:id="53eeaa81-d7ff-4b9a-9f2d-a9292aa231b6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"PaymentId": vars.originalPayload.PaymentRelatedIdentifications[0].EndToEndIdentification,
	"Amount": {
		"Amount": vars.originalPayload.InstructedAmmount.Ammount,
		"Currency": vars.originalPayload.InstructedAmmount.Currency
	},
	"TransasctionCost": 10.00,
	"TransferProtocol": "SWIFT",
	"PaymentPath": vars.originalPayload.PaymentRelatedIdentifications[0].TransactionIdentification,
	"PaymentStatus": "Processed",
	"Debtor": {
		"Account": {
			"AccountId": vars.originalPayload.DebtorAcount.Identification.AccountId,
			"AccountType": vars.originalPayload.DebtorAcount.Identification.Name,
			"BankId": vars.originalPayload.DebtorAcount.Identification.IBAN,
			"BankName": vars.originalPayload.DebtorAcount.Entry.BankName
		}
	},
	"Creditor": {
		"Account": {
			"AccountId": vars.originalPayload.CreditorAcount.Identification.AccountId,
			"AccountType": vars.originalPayload.CreditorAcount.Identification.Name,
			"BankId": vars.originalPayload.CreditorAcount.Identification.IBAN,
			"BankName": vars.originalPayload.CreditorAcount.Entry.BankName
		}
	}
}

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
