SOLUTION/Payments/Payments_v2/intrabanknationalxfer_3/src/main/mule/intrabanknationalxfer.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:aspsp-authorization="http://www.mulesoft.org/schema/mule/aspsp-authorization" xmlns:risk-assessement="http://www.mulesoft.org/schema/mule/risk-assessement" xmlns:account="http://www.mulesoft.org/schema/mule/account" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/account http://www.mulesoft.org/schema/mule/account/current/mule-account.xsd
http://www.mulesoft.org/schema/mule/risk-assessement http://www.mulesoft.org/schema/mule/risk-assessement/current/mule-risk-assessement.xsd
http://www.mulesoft.org/schema/mule/aspsp-authorization http://www.mulesoft.org/schema/mule/aspsp-authorization/current/mule-aspsp-authorization.xsd">
    <http:listener-config name="intrabanknationalxfer-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="intrabanknationalxfer-config" raml="intrabanknationalxfer.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" disableValidations="true"/>

	<http:request-config name="HTTP_Account_API" doc:name="HTTP Request configuration" doc:id="043e5266-ace2-4539-a939-f692ded45089" basePath="${account.api.basepath}">
		<http:request-connection host="${account.api.host}" port="${account.api.port}"/>
	</http:request-config>

	<configuration-properties doc:name="Configuration properties" doc:id="8dc06fed-4908-4674-ac82-f66f1df59fc3" file="mule-custom-app-intrabn.properties" />
	<flow name="intrabanknationalxfer-main">
        <http:listener config-ref="intrabanknationalxfer-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="intrabanknationalxfer-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="intrabanknationalxfer-console">
        <http:listener config-ref="intrabanknationalxfer-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="intrabanknationalxfer-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="cc8b86b3-75b1-44a4-9aca-4b26a746bf7e">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="debitFlow" doc:id="85232b93-47ee-4ada-ad23-66347470dff4" >
		<logger level="INFO" doc:name="Logger" doc:id="d824a93f-32f7-4bf3-9d2c-d88b1b6cf6c1" message="********************* Debit Flow ------AccountId #[vars.originalPayload.DebtorAcount.Identification.AccountId]--------- Amount #[vars.originalPayload.InstructedAmmount.Ammount]"/>
		<http:request method="PUT" doc:name="Account Debit Call" doc:id="20edf3b1-dfba-40ed-bbf0-5d4d1a0c2379" config-ref="HTTP_Account_API" path="/Account/{AccountId}">
			<http:uri-params ><![CDATA[#[output applicaton/java
---
{
	"AccountId" : vars.originalPayload.DebtorAcount.Identification.AccountId
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output applicaton/java
---
{
	"action" : "debit",
	"amount" : vars.originalPayload.InstructedAmmount.Ammount
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="871fd37d-e8a3-441b-998e-806e50779be0" message="***************Using the Account Module --------- Response Payload #[payload]"/>
		<set-variable value="#[payload]" doc:name="Set Debitor Flow Response" doc:id="6047f9a8-71c2-4c06-afc3-0257cc4d88da" variableName="debitRes" />
	</flow>
	
	
	<flow name="creditFlow" doc:id="85232b93-47ee-4ada-ad23-66347470dff4" >
		<logger level="INFO" doc:name="Logger" doc:id="d824a93f-32f7-4bf3-9d2c-d88b1b6cf6c1" message="********************* Credit Flow-------AccountId #[vars.originalPayload.CreditorAcount.Identification.AccountId]-------------Amount #[vars.originalPayload.InstructedAmmount.Ammount]"/>
		<http:request method="PUT" doc:name="Account Credit Call" doc:id="1f6da335-0113-4637-b4ac-2c957e2a6e0e" config-ref="HTTP_Account_API" path="/Account/{AccountId}">
			<http:uri-params><![CDATA[#[output applicaton/java
---
{
	"AccountId" : vars.originalPayload.CreditorAcount.Identification.AccountId
}]]]></http:uri-params>
			<http:query-params><![CDATA[#[output applicaton/java
---
{
	"action" : "credit",
	"amount" : vars.originalPayload.InstructedAmmount.Ammount
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="871fd37d-e8a3-441b-998e-806e50779be0" message="*************** Using the Account Module ------------------Response Payload #[payload]"/>
		<set-variable value="#[payload]" doc:name="Set Creditor Flow Response" doc:id="18c65698-35c1-4c8a-af56-3229a998ea53" variableName="creditRes" />
	</flow>
	<flow name="Transfer_Failure_Flow" doc:id="cdde068f-fe19-464a-8686-6fdace998b3d" >
		<ee:transform doc:name="Create Failure Message" doc:id="4b794b6f-d601-42ed-9ba6-c694e595fb59" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"PaymentId": "end-to-end-number",
	"Amount": {
		"Amount": 333.33,
		"Currency": "USD"
	},
	"TransasctionCost": 10,
	"TransferProtocol": "SWIFT",
	"PaymentPath": "XFER_INTER_BANK_NAT",
	"PaymentStatus": "FAILED",
	"Debtor": {
		"Account": {
			"AccountId": "1234567",
			"AccountType": "CHECKING",
			"BankId": "IBAN_NUM",
			"BankName": "BOA"
		}
	},
	"Creditor": {
		"Account": {
			"AccountId": "999-SAVINGS",
			"AccountType": "CHECKING",
			"BankId": "IBAN_NUM",
			"BankName": "RBC"
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="post:\IntraBankNationalXfer:application\json:intrabanknationalxfer-config">
		<logger level="INFO" doc:name="Logger" doc:id="cfbac071-2ba6-46df-acc3-d272765686c6" message="******* Starting Intrabanknationalxfer" />
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="04476be8-a9e4-470d-83b6-2ea656d9c7cc" variableName="originalPayload" />
		<flow-ref doc:name="debitFlow" doc:id="c9ab87dc-7d99-40ac-8556-4de30b99349f" name="debitFlow" />
		<flow-ref doc:name="creditFlow" doc:id="2f540005-45ee-4601-b800-23665bffb246" name="creditFlow" />
		<ee:transform doc:name="Transform Message" doc:id="d5b7797c-e314-4cc2-a49a-31d0df42c75c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"PaymentId": vars.originalPayload.PaymentRelatedIdentifications[0].EndToEndIdentification,
	"Amount": {
		"Amount": vars.originalPayload.InstructedAmmount.Ammount,
		"Currency": vars.originalPayload.InstructedAmmount.Currency
	},
	"TransasctionCost": 10.00,
	"TransferProtocol": "SWIFT",
	"PaymentPath": vars.originalPayload.PaymentRelatedIdentifications[0].TransactionIdentification,
	"PaymentStatus": "Processed",
	"Debtor": {
		"Account": {
			"AccountId": vars.originalPayload.DebtorAcount.Identification.AccountId,
			"AccountType": vars.originalPayload.DebtorAcount.Identification.Name,
			"BankId": vars.originalPayload.DebtorAcount.Identification.IBAN,
			"BankName": vars.originalPayload.DebtorAcount.Entry.BankName
		}
	},
	"Creditor": {
		"Account": {
			"AccountId": vars.originalPayload.CreditorAcount.Identification.AccountId,
			"AccountType": vars.originalPayload.CreditorAcount.Identification.Name,
			"BankId": vars.originalPayload.CreditorAcount.Identification.IBAN,
			"BankName": vars.originalPayload.CreditorAcount.Entry.BankName
		}
	}
}

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
