SOLUTION/Payments/Payments_v2/notification_api_3/src/main/mule/notification.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:twilio-connector="http://www.mulesoft.org/schema/mule/twilio-connector" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/twilio-connector http://www.mulesoft.org/schema/mule/twilio-connector/current/mule-twilio-connector.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="notification-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="notification-config" raml="notification.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" disableValidations="true"/>
    <twilio-connector:config name="Twilio_Connector_Config" doc:name="Twilio Connector Config" doc:id="d1c47ae7-d530-4652-9edc-d00ee041c0d3" property_username="${twilio.app.id}" property_password="${twilio.app.token}"/>
	<configuration-properties doc:name="Configuration properties" doc:id="9995a89e-7767-44eb-8272-236a23ab3d14" file="mule-custom-app-notify.properties" />
	<flow name="notification-main">
        <http:listener config-ref="notification-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="notification-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="notification-console">
        <http:listener config-ref="notification-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="notification-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\Notification:application\json:notification-config">
		<set-variable value="${twilio.phone.number.from}" doc:name="Set Variable" doc:id="3db69c19-a586-40b7-a87c-ebfac8d424dd" variableName="from_phone"/>
		<set-variable value="${twilio.phone.number.to}" doc:name="Set Variable" doc:id="e108b7a1-efb3-493a-bb96-25e055ea8dfa" variableName="to_phone"/>
		<logger level="INFO" doc:name="Logger" doc:id="f039bd98-53fa-4a75-adf5-1723ddb7d020" message="twilio phone parms: from: #[vars.from_phone], to: #[vars.to_phone] - #[payload]"/>
		<choice doc:name="Choice" doc:id="c25b3943-ca55-46a5-a8e0-312387d553da" >
			<when expression='#[attributes.queryParams.destination =="sms"]'>
				<flow-ref doc:name="Flow Reference" doc:id="e1823701-75e1-4d05-95e9-810e4dcf2f97" name="utilFlow_SMS"/>
			</when>
			<when expression='#[attributes.queryParams.destination =="twitter"]'>
				<logger level="INFO" doc:name="Logger" doc:id="8120f4b8-32e8-4e82-9ccc-8bc06d852ab9" message="GOT TWITTER ONLY REQUEST!"/>
				<flow-ref doc:name="Flow Reference" doc:id="8787ee6d-a579-46ea-8947-d8f239e53307" name="utilFlow_Twitter"/>
			</when>
			<when expression='#[attributes.queryParams.destination =="twitter-sms"]'>
				<logger level="INFO" doc:name="Logger" doc:id="b579800d-20c8-4648-bf5c-ffdcc73c56bb" message="Sending to Twitter &amp; SMS ! : #[payload]"/>
				<set-variable value="#[payload]" doc:name="Set Variable" doc:id="4b73e678-bfaf-4acf-959d-826345906392" variableName="initPd"/>
				<flow-ref doc:name="Flow Reference" doc:id="1895289d-45ff-4e0b-9cbd-bfd3c4cb8f81" name="utilFlow_SMS" />
				<set-payload value="#[vars.initPd]" doc:name="Set Payload" doc:id="238957be-55c6-46c6-96cf-d6abaf2bbcdc" />
				<flow-ref doc:name="Flow Reference" doc:id="99b85b81-2741-4cb6-a55b-2876d259bfa9" name="utilFlow_Twitter" />
			</when>
			<when expression='#[attributes.queryParams.destination =="email"]'>
				<logger level="INFO" doc:name="Logger" doc:id="5ed86d8a-2c59-4d36-93e4-a66d2db00793" message="Sending to email: #[payload]"/>
			</when>
			<when expression='#[attributes.queryParams.destination =="twitter-email"]'>
				<logger level="INFO" doc:name="Logger" doc:id="79b073e8-1fed-4872-a1a1-8c962e73a4c9" message="Sending to Twitter &amp; email: #[payload]"/>
			</when>
			<when expression='#[attributes.queryParams.destination =="sms-email"]'>
				<logger level="INFO" doc:name="Logger" doc:id="018a7914-9ae0-48d5-9ac4-2d7da5bd40d3" message="Sendung to SMS &amp; Email : #[payload]"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="4f041020-4c9b-4109-bb03-5c8a0aab53ef" message="Sending to Twitter &amp; SMS &amp; email ! : #[payload]"/>
			</otherwise>
		</choice>
    </flow>
</mule>
